
.Rhistory
glove.6B.zip
glove.6B/glove.6B.100d.txt
glove.6B/glove.6B.200d.txt
glove.6B/glove.6B.300d.txt
glove.6B/glove.6B.50d.txt
*.hdf5
*.hdf5
__pycache__/Feed_network_maker.cpython-36.pyc
.RData
*.ipynb
*.com
*.DS_Store
*.Rapp.history
*.pyc
